<div class="footer">
  <div class="footer-links">
    Suivez-nous :
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="slogan">
    I love code <i class="fa-solid fa-laptop-code"></i> with Le Wagon Marseille !
  </div>
</div>
