.button-validation {
  text-decoration: none;
  background-color: rgb(77, 77, 77);
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  border: 1px solid transparent;
}
.button-validation:hover {
  background-color: rgba(77, 77, 77,0.8);
  color: white;
}
